# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/charts/

# Secrets
.env

# IDE
.idea/
.vscode/
*.swp

# Docker
*.pid

# OS
.DS_Store
Thumbs.db
